* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

header {
    border-bottom: 1px solid;
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 1000;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
}

.navigation a, .nav-toggle {
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    transition: 0.3s ease;
}

.nav-bar {
    display: flex;
    align-items: center;
}

a:hover {
    color: #ffc200;
}

.logo {
    width: 101px;
    height: 40px;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
}

.hamburger {
    display: none;
    width: 30px;
    height: 2px;
    background-color: #333;
    position: relative;
}

.hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
    display: block;
    transition: all 0.3s ease;
}

.hamburger::before { top: -8px; }
.hamburger::after { bottom: -8px; }

@media screen and (max-width: 768px) {
    .nav-bar {
        display: none;  
    }

    .nav-toggle {
        display: inline-block;  
    }

    .hamburger, .hamburger::before, .hamburger::after {
        display: block; 
    }

    .navigation {
        justify-content: space-between; 
    }
}

@media screen and (max-width: 480px) {
    .navigation a {
        font-size: 14px; 
    }
}



.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 100%;
    margin-top: 100px;
}

.about-content {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: center; 
    max-width: 1200px; 
}

.about-img {
    display: flex;
    justify-content: center;
    margin: 20px; 
}

.about-img img {
    width: 100%; 
    max-width: 300px; 
    border-radius: 50%;
    transition: 0.7s ease;
}

.about-img img:hover {
    transform: scale(1.2); 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}

.about-text {
    text-align: center;
    margin: 20px; 
}

.about-text h1 {
    font-size: 2.5rem; 
}

.about-text p {
    font-size: 1.5rem; 
}

.btn {
    background: #ffc200;
    color: black;
    font-weight: bold;
    border-radius: 50px;
    padding: 13px 29px;
    font-size: 1rem;
    line-height: normal;
    transition: all 0.4s ease;
    text-decoration: none;
}

.btn:hover {
    background: #333;
    color: #fff;
    transform: scale(1.2);
}

@media screen and (max-width: 1024px){


    .about-img img {
        width: 80%; 
        max-width: 200px; 
    }
}

@media screen and (max-width: 768px){
    .about-text h1, .about-text p {
        font-size: 1.2rem; 
    }

    .btn {
        padding: 10px 20px; 
    }
}

@media screen and (max-width: 480px){
    .about-text h1 {
        font-size: 1rem; 
    }

    .about-text p {
        font-size: 0.8rem; 
    }

    .btn {
        padding: 7px 15px; 
    }
}



.education-experience {
    margin-top: 100px;
}

.education-experirnce-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.timeline-container {
    position: relative; 
    padding: 22px 0;
}

.timeline-year {
    background: #474559;
    border-radius: 50%; 
    position: absolute;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    color: #eee;
    font-weight: 500;

}

.timeline-info {
    max-width: 432px;
    margin-left: 100px; 
}

.timeline-info small {
    color: #474559;
    font-size: 16px;
    font-weight: bold;

    margin-left: 15px;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
    margin-top: 0;
    margin-bottom: 1rem;
}

.education-experience h1 {
    color: #353535;
    font-size: 2.4em;
    font-weight: 700;
    margin-bottom: 15px;
}

.title {
    display: flex;
    justify-content: center;
    color: #353535;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.education, .experience {
    border-radius: 40px;
    padding: 20px;
    transition: 0.7s ease;
}

.education:hover, .experience:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}

@media screen and (max-width: 768px) {
    .education-experience-content {
        flex-direction: column;
    }

    .timeline-info {
        margin-left: 90px; 
    }

    .education, .experience {
        margin-top: 15px;
        padding: 10px;
    }

    .title, .education-experience h1, p {
        font-size: 1.5rem; 
    }
}


.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-card {
    background-color: #fff;
    width: 23em;  
    min-height: 14em;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    overflow: hidden;  
}

.project-card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  
}

.project-image img {
    width: 100%;  
    border-radius: 10px;  
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 1em;
    color: black;
    font-weight: bold;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.project-title span {
    font-size: 1em;  
    font-weight: 400;  
}

.more-details {
    text-decoration: none;
    color: #353535;
}

.more-details:hover {
    color: #ffc200;
}





.skills-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.soft-skills, .technical-skills {
    border: 1px solid #ccc; 
    border-radius: 40px;
    padding: 20px 40px;
    width: 45%; 
    margin: 10px; 
    box-sizing: border-box; 
}

.soft-skills h1, .technical-skills h1 {
    text-align: center;
    border-bottom: 1px solid #212121;
    margin-bottom: 10px;
}

.skills-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); 
    gap: 10px; 
    justify-content: center;
}

.skills-card h2 {
    padding: 10px;
    text-align: center; 
}

@media screen and (max-width: 768px) {
    .soft-skills, .technical-skills {
        width: 100%; 
    }
}

@media screen and (max-width: 480px) {
    .skills-content {
        flex-direction: column;
        align-items: center;
    }

    .skills-card {
        grid-template-columns: repeat(2, 1fr); 
    }
}



.contact{
    padding-top:10% ;
    width: 100%;
}


.contact-body{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.contact-form{
    display: flex;
    flex-direction: column;
    
}

.form-control{
    padding-top: 5%;
}

.form-control div{
    padding: 3%;
}

.form-input{
    display: flex;
   
}

.form-control div input{
    padding: 3%;
    margin-right: 4%;
    border-radius: 4px;
    
}
.form-control div textarea{
    width: 110%;
    padding: 10px;
}


.footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.footer-title{
    color: #eee;
    font-size: 1.3em;
    font-weight:600 ;
}

.footer-title span{
    color: #ffc200;
}


.footer .social-icon {
    font-size: 1.3em;
}

.social-icon a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;

}

i{
    font-size: 50px;
}
